<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/paper-header-panel/paper-header-panel.html">
<link rel="import" href="/bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="/bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">

<dom-module id="admin-base">
    <template>
        <style>
            #header {
                --paper-toolbar-background: #eee;
            }
        
            #header paper-tabs ::content {
                color: black;
            }
            
            #header paper-tabs ::content.iron-selected{
                background: black;
                color: #eee;
            }
            
            paper-tabs {
                height: 100%;
            }
        </style>
        <paper-header-panel class="flex" mode="waterfall">
            <paper-toolbar id="header">
                <div>
                    <a id="brand" href=""><h2 style="padding-right: 5px;">NFB Staff</h2></a>
                </div>
                <paper-tabs attr-for-selected="page" selected="{{selected}}">
                    <content select=".tabs-left"></content>
                </paper-tabs>
                <paper-tabs attr-for-selected="page" selected="{{selected}}" style="position: absolute; right: 0;">
                    <content select=".tabs-right"></content>
                    <paper-button on-tap="logout">Logout</paper-button>
                </paper-tabs>
            </paper-toolbar>
            <content></content>
        </paper-header-panel>
    </template>

    <script>
        Polymer({
            is: 'admin-base',
            properties: {
                selected: {
                    type: String,
                    notify: true
                }
            },
            logout: function(e) {
                window.location.href = "login.html"
            }
            
        });
    </script>

</dom-module>