<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/paper-header-panel/paper-header-panel.html">
<link rel="import" href="/bower_components/paper-material/paper-material.html">
<link rel="import" href="/bower_components/iron-pages/iron-pages.html">
<link rel="import" href="/bower_components/iron-image/iron-image.html">
<link rel="import" href="/bower_components/paper-input/paper-input.html">
<link rel="import" href="/bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">
<link rel="import" href="/bower_components/iron-icons/iron-icons.html">

<link rel="import" href="/bower_components/paper-ripple/paper-ripple.html">
<link rel="import" href="/bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="/styles/bootstrap.html">
<link rel="import" href="/styles/global-styles.html">

<dom-module id="about-page">
    <template>
        <style include="bootstrap"></style>
        <style include="global-styles"></style>
        <style include="iron-flex">
            :host {
                height: 100%;
                font-family: 'Roboto', 'Noto', sans-serif;
            }
            
            p {
                margin: 0px 15px 15px 15px;
            }
        </style>
        <paper-header-panel id="pane" mode="cover">
            <div class="paper-header"></div>
            <div id="outerContent">
                <paper-material id="innerContent">
                    <div class="jumbotron text-center" style="background-image:url('/assets/Bookshelf.jpg'); height:200px; width:100%; color:white;">
                        <h1>About Us</h1>
                    </div>
                    <p>
                        Northern Fame Bookstores, home to every book under the sun.
                        Or at least we try to, should you be unable to find a book,
                        you may <a>request</a> it.
                    </p>
                </paper-material>
            </div>
        </paper-header-panel>
    </template>
    <script>
        Polymer({
            is: "about-page",
        });
    </script>
</dom-module>