<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/paper-header-panel/paper-header-panel.html">
<link rel="import" href="/bower_components/paper-material/paper-material.html">
<link rel="import" href="/bower_components/iron-pages/iron-pages.html">
<link rel="import" href="/bower_components/iron-image/iron-image.html">
<link rel="import" href="/bower_components/paper-input/paper-input.html">
<link rel="import" href="/bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">
<link rel="import" href="/bower_components/iron-icons/iron-icons.html">
<link rel="import" href="/bower_components/iron-ajax/iron-ajax.html">

<link rel="import" href="/bower_components/paper-ripple/paper-ripple.html">
<link rel="import" href="/bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="/styles/bootstrap.html">
<link rel="import" href="/styles/global-styles.html">

<dom-module id="home-page">
    <template>
        <style include="bootstrap"></style>
        <style include="global-styles"></style>
        <style include="iron-flex">
            :host {
                height: 100%;
                font-family: 'Roboto', 'Noto', sans-serif;
            }

            
            #search {
                border: 1px solid #ccc;
                background: rgba(238,238,238,0.7);
                border-radius: 4px;
            }
            
            #searchBox {
                transform: translateY(-0.5em);
                padding-left: 3px;
                --paper-input-container-underline: {
                    background-color: transparent;
                }
            }
            
            .thumbnail.thumbnail img {
                height: 256px;
            }
        </style>
        <iron-ajax auto url='/assets/bookdata.json' handle-as='json' last-response='{{books}}'></iron-ajax>
        <iron-localstorage name="NFB-CART" value="{{cartItems}}" on-iron-localstorage-load-empty="initCart"></iron-localstorage>
        <paper-header-panel id="pane" mode="cover">
            <div class="paper-header"></div>
            <div id="outerContent">
                <paper-material id="innerContent">
                    <div class="jumbotron text-center" style="background-image:url('/assets/Bookshelf.jpg'); height:20em; width:100%; color:white;">
                        <div class="searchBar">
                            <div class="row">
                                <div class="col-sm-6 col-sm-offset-3"> 
                                    <div id="search" class="input-group">
                                        <paper-input id="searchBox" type="text" placeholder="Search" ></paper-input>
                                        <span class="input-group-addon" style="background-color:transparent; border-width:0px;">
                                            <paper-icon-button icon="search" type="submit"></paper-icon-button>
                                        </span>
                                    </div>
                                </div>
	                        </div>
                            <h1>Northern Fame Books &amp; Cafe</h1>
                            <div style="height: 18em;"></div>
                        </div>
                    </div>
                    <div class="row" style="padding:15px;">
                        <h3 style="margin-left:15px;"><b>New Arrivals!</b></h3>
                        <template is="dom-repeat" items="[[books]]">
                            <div class="col-sm-4" style="">
                                <paper-material elevation="2" class="thumbnail" style="border: none; margin-bottom:1em;">
                                    <img src="[[item.cover]]" alt="">
                                    <h3>[[item.title]]</h3>
                                    <p>[[item.desc]]</p>
                                    <paper-button raised style="margin-bottom:5px;">Add to cart (RM<span>[[priceFormat(item.price)]]</span>)</paper-button>
                                </paper-material>
                            </div>
                        </template>
                    </div>
                </paper-material>
            </div>
        </paper-header-panel>
    </template>
    <script>
        Polymer({
            is: "home-page",
            properties: {
                books: {
                    type: Array,
                    notify: true
                }
            },
            priceFormat: function(price) {
                return typeof price === 'number' ? price.toFixed(2) : price;
            },
        });
    </script>
</dom-module>