<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/paper-header-panel/paper-header-panel.html">
<link rel="import" href="/bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="/bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="/bower_components/iron-image/iron-image.html">
<link rel="import" href="/bower_components/neon-animation/neon-animation.html">
<link rel="import" href="/bower_components/iron-location/iron-location.html">
<link rel="import" href="/bower_components/carbon-route/carbon-location.html">
<link rel="import" href="/bower_components/carbon-route/carbon-route.html">
<link rel="import" href="/bower_components/iron-signals/iron-signals.html">

<link rel="import" href="/bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="/styles/global-styles.html">
<link rel="import" href="/styles/bootstrap.html">

<dom-module id="iswe-root">
    <template>
        <style include="bootstrap"></style>
        <style include="iron-flex"></style>
        <style include="global-styles">
            :host {
                height: 100vh;
                font-family: 'Roboto', 'Noto', sans-serif;
            }
            
            #header > * {
                color: black;
            }
            
            #header {
                --paper-toolbar-background: #eee;
            }
            
            #header > paper-tabs {
                height: 100%;
                --paper-tabs-selection-bar-color: transparent;
            }
            
            #header > paper-tabs > * {
                transition: background-color 0.2s linear;
            }
            
            #header > paper-tabs > .iron-selected {
                background-color: black;
                color: white;
            }
            
            #header #brand {
                text-decoration: none;
                font-size: 10pt;
                color: #777;
            }
            
            .contentBody {
                height: calc(100vh - 64px);
                width: 100%;
                overflow: auto;
            }
        </style>
        
        <iron-location hash="{{hash}}"></iron-location>
        <carbon-location route="{{route}}"></carbon-location>
        <carbon-route route="{{route}}" pattern="/:page" data="{{routedata}}" tail="{{subroute1}}"></carbon-route>
        <iron-localstorage id="cartStorage" name="NFB-CART" value="{{cartItems}}"></iron-localstorage>
        <iron-signals id="signals"></iron-signals>
        
        <paper-header-panel class="flex" mode="waterfall">
            <paper-toolbar id="header">
                <div>
                    <a id="brand" href="/"><h2 style="padding-right: 5px;">Northern Fame Books</h2></a>
                </div>
                <paper-tabs attr-for-selected="page" selected="{{selected}}">
                    <template is="dom-repeat" items="{{pages}}" filter="isLeftTabPage">
                        <paper-tab page$="[[item.page]]">[[item.title]]</paper-tab>
                    </template>
                </paper-tabs>
                <paper-tabs attr-for-selected="page" selected="{{selected}}" style="height:100%; position: absolute; right: 0;">
                    <template is="dom-repeat" items="{{pages}}" filter="isRightTabPage">
                        <paper-tab page$="[[item.page]]">[[item.title]]</paper-tab>
                    </template>
                </paper-tabs>
            </paper-toolbar>
            
            <neon-animated-pages id="pageSwitcher" class="contentBody flex layout vertical" 
                                 attr-for-selected="page" selected="[[currentpage]]"
                                 entry-animation="slide-from-top-animation" exit-animation="fade-out-animation">
            </neon-animated-pages>
        </paper-header-panel>
    </template>
    <script>
        Polymer({
            is: "iswe-root",
            ready: function() {
                this.title = "TEST TITLE";
                //Setup page definitions
                for (var i = 0; i < this.pages.length; i++) {
                    var pageObj = this.pages[i];
                    var pagesDom = Polymer.dom(this.$.pageSwitcher);
                    if (typeof pageObj.tag === "string") {
                        var elem = document.createElement(pageObj.tag);
                        var elemDom = Polymer.dom(elem);
                        elemDom.setAttribute('page', pageObj.page);
                        if (Array.isArray(pageObj.attributes))
                            for (var j = 0; j < pageObj.attributes.length; j++) {
                                var attrObj = pageObj.attributes[j]
                                elemDom.setAttribute(attrObj.key,attrObj.value);
                            }
                        pagesDom.appendChild(elem);
                    }
                    if (typeof pageObj.path === "string") {
                        this.async(function() {
                            this.ctx.importHref(this.ctx.resolveUrl(this.pageObj.path), null, null);    
                        }.bind({ctx: this, pageObj: pageObj}));
                    }
                }
                
            },
            properties: {
                pages: {
                    type: Array,
                    value: [
                        {
                            title: 'Home',
                            path: 'home-page.html',
                            tag: 'home-page',
                            page: "",
                            attributes: []
                        },
                        {
                            title: 'About Us',
                            path: 'about-page.html',
                            tag: 'about-page',
                            page: 'about'
                        },
                        {
                            title: 'Shop Now',
                            page: 'shop',
                            path: 'shop-page.html',
                            tag: 'shop-page'
                        },
                        {
                            title: 'Error',
                            page: 'error',
                            hidden: true
                        },
                        {
                            title: 'Order Tracking',
                            page: 'tracking',
                            path: 'tracking-page.html',
                            tag: 'tracking-page',
                            right: true
                        },
                        {
                            title: 'Cart',
                            page: 'cart',
                            right: true,
                            path: 'cart-page.html',
                            tag: 'cart-page'
                        },
                        {
                            title: 'Login / Register',
                            pageTitle: 'Login',
                            page: 'login',
                            path: 'login-page.html',
                            tag: 'login-page',
                            right: true
                        }
                    ]
                },
                
                selected: {
                    type: String
                },
                
                loggedin: {
                    type: Boolean,
                    value: false
                },
                
                currentpage: {
                    type: String,
                    value: ''
                },
                
                data: {
                    type: Object,
                    observer: "_printVal"
                },
                
                selected: {
                    type: String,
                    observer: '_pageBlocker',
                },
                
                cartItems: {
                    type: Array
                }
            },
            
            observers: [
                'routePageChanged(routedata.page)',
                'updatePageTitle(currentpage)'
            ],
            
            listeners: {
                "cart-add": "addToCart",
                "signals.iron-signal-cart-changed": "_signalCartChanged"
            },
            
            addToCart: function(e) {
                console.log(e)
                this.$.cartStorage.reload();
                item = e.detail.item
                var amt = 0
                var del = 0
                var ind = this.cartItems.length
                var empty = ind <= 0
                if (!empty) {
                    while (ind-- >= 0) {
                        if (this.cartItems[ind] && this.cartItems[ind].book.id === item.id) {
                            amt = this.cartItems[ind].amount + 1
                            del = 1
                            break
                        }
                    }
                }
                this.splice("cartItems", empty ? this.cartItems.length : ind, del, {
                    book: item,
                    amount: amt === 0 ? 1 : amt
                })
                console.log(this.cartItems)
                this.$.cartStorage.save();
                this.fire('iron-signal', {name: 'cart-changed', data: null});
            },
            
            isRightTabPage: function(item) {
                return item.right && !item.hidden;
            },
             
            isLeftTabPage: function(item) {
                return !item.right && !item.hidden;
            },
            
            updatePageTitle: function(page) {
                var i = this.pages.length;
                while (i-- >= 0) {
                    var pobj = this.pages[i]
                    console.log(pobj);
                    if (pobj.page == page) {
                        document.title = (pobj.pageTitle ? pobj.pageTitle : pobj.title).concat(' | NFB');
                        return;
                    }
                }
                document.title = '404 | NFB';
            },
            
            routePageChanged: function(page) {
                if (!this.validatePageChange(page))
                    this.async(function() {this.set('routedata.page', this.currentpage)});
                else if(this.selected !== page)
                    this.set('selected', page);
            },
            validatePageChange: function(newPage) {
                if (newPage === 'login' && this.loggedin) {
                    return false;
                }
                return true;
            },
            
            _pageBlocker: function(nv, ov) {
                if (!this.validatePageChange(nv)) {
                    this.selected = ov;
                    return;
                }
                if (this.routedata.page !== nv)
                    this.set('routedata.page', nv);
                if (this.currentpage !== nv)
                    this.set("currentpage", nv);
            },
            
            _selectedTabChanged: function(nv, ov) {
                console.info(nv)
            },
            
            _printVal: function(nv, ov) {
                console.log(ov);
                console.log(nv);
            },
            _signalCartChanged: function() {
                console.log("reload");
                this.$.cartStorage.reload();
            },
        });
    </script>
</dom-module>