<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/paper-header-panel/paper-header-panel.html">
<link rel="import" href="/bower_components/paper-material/paper-material.html">
<link rel="import" href="/bower_components/iron-pages/iron-pages.html">
<link rel="import" href="/bower_components/iron-image/iron-image.html">
<link rel="import" href="/bower_components/paper-input/paper-input.html">
<link rel="import" href="/bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">
<link rel="import" href="/bower_components/iron-icons/iron-icons.html">
<link rel="import" href="/bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="/bower_components/mercury-paginator/mercury-paginator.html">

<link rel="import" href="/bower_components/paper-ripple/paper-ripple.html">
<link rel="import" href="/bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="/styles/bootstrap.html">
<link rel="import" href="/styles/global-styles.html">

<dom-module id="shop-page">
    <template>
        <style include="bootstrap"></style>
        <style include="global-styles"></style>
        <style include="iron-flex">
            :host {
                height: 100%;
                font-family: 'Roboto', 'Noto', sans-serif;
            }
            
            p {
                margin: 0px 15px 15px 15px;
            }
            img {
                max-height: 128px;
            }
            
            #tbl {
                border-collapse: separate;
                border-spacing: 0 2px;
                padding: 0 3vw 0 3vw;
            }
            
            #sortbar {
                --paper-toolbar-background: #fff;
                color: black;
            }
        </style>
        <iron-ajax auto url='/assets/bookdata.json' handle-as='json' last-response='{{books}}'></iron-ajax>
        <paper-header-panel id="pane" mode="cover">
            <div class="paper-header"></div>
            <div id="outerContent">
                <paper-material id="innerContent">
                    <div class="jumbotron text-center" style="background-image:url('/assets/Bookshelf.jpg'); height:200px; width:100%; color:white;">
                        <h1>Shop now!</h1>
                        <h4>Great deals all around!</h4>
                    </div>
                    <div class="row" style="padding:15px;">
                        <paper-toolbar id="sortbar">
                            <span>SORT BY:</span>
                            <paper-button>Publish Date</paper-button>
                            <paper-button>Alphabetically</paper-button>
                            <paper-button>Lowest Price First</paper-button>
                            <paper-button>Highest Rated First</paper-button>
                        </paper-toolbar>
                        <table id="tbl">
                            <thead style="border-bottom: 2px solid #ddd;">
                                <tr>
                                    <th style="width:10%">Cover</th>
                                    <th style="width:8%">Title</th>
                                    <th style="width:9%">Publisher</th>
                                    <th style="width:58%">Description</th>
                                    <th style="width:5%">Price</th>
                                    <th style="width:10%"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <template is="dom-repeat" items="[[bookspaged]]">
                                    <tr>
                                        <td><img src="[[item.cover]]"></td>
                                        <td>[[item.title]]</td>
                                        <td>[[item.publisher]]</td>
                                        <td><div style="max-height:128px; overflow: auto;">[[item.desc]]</div></td>
                                        <td>[[item.price]]</td>
                                        <td><paper-button bookid="[[item.id]]" on-tap="cartAddEvent">ADD TO CART</paper-button></td>
                                    </tr>
                                </template>
                            </tbody>
                        </table>
                        <mercury-paginator currentpage="{{currpage}}" perpage="10" data="[[books]]" items="{{bookspaged}}"></mercury-paginator>
                    </div>
                </paper-material>
            </div>
        </paper-header-panel>
    </template>
    <script>
        Polymer({
            is: "shop-page",
            properties: {
                books: {
                    type: Array
                }
            },
            listeners: {
                "addToCart": "addToCart"
            },
            cartAddEvent: function(e) {
                this.fire("addToCart",{bid: e.target.bookid});
            },
            addToCart: function(e) {
                var ind = this.books.length;
                while (ind-- >= 0) {
                    if (this.books[ind].id === e.detail.bid) {
                        this.fire("cart-add",{
                            item: this.books[ind]
                        })
                        return;
                    }
                }
            }
        });
    </script>
</dom-module>